* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    grid-area: header;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'left middle middle middle right right'
        'footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
}

.left,
.middle,
.right {
    padding: 10px;
}

.left {
    grid-area: left;
    text-align: center;
    font-size: 24px;
}

.middle {
    grid-area: middle;
}

.right {
    grid-area: right;
}

.footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-areas:
            'header header header header header header'
            'left left left left left left'
            'middle middle middle middle middle middle'
            'right right right right right right'
            'footer footer footer footer footer footer';
    }
}

#users {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

#users td,
#users th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#users tr:nth-child(even) {
    background-color: #f2f2f2;
}

#users tr:hover {
    background-color: #ddd;
}

#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}

a.insert:link,
a.insert:visited {
    background-color: #04AA6D;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.insert:hover,
a.insert:active {
    background-color: hotpink;
}

a:link {
    color: #04AA6D;
}

a:visited {
    color: #04AA6D;
}

a:hover {
    color: hotpink;
}

input[type=text],
select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 80%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: hotpink;
}

ul {
    list-style: none;
}

